ConnectionStrings__DefaultConnection=Server=.\SQLEXPRESS;Database=AssignmentsDb;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True
JWT__Key=replace-with-a-random-secret-at-least-32-bytes
JWT__Issuer=SecureApi
JWT__Audience=SecureApiUser
JWT__DurationInDays=30
Cors__AllowedOrigins__0=http://localhost:4200
